
body{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;

}
header{
    background-color: rgb(61, 61, 61);
    color: white;
    width: 100%;
  }
  
  .top{
    display:flex;
    justify-content:space-between;
    padding: 10px;
    font-size: 20px;
   
  }
  .exit button{
    background-color: rgb(61, 59, 59);
    color: white;
    border: none;
    padding-left: 10px;
    font-size: 20px; 
  }
  .exit button:hover{
    background-color: rgb(195, 164, 164);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px; 
    /* border-radius: 100%; */
  }
  .page-first{
      border: solid 1px;
      display:flex;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .person img{
    width:100%;
  }
  .councellor{
      width: 20%;
      border: solid 1px;
  }
  .tip::before{
      content: " ";
      width: 0;
      height: 0;
      border-top: 20px solid antiquewhite;
      border-right: 20px solid transparent;
      position: absolute;
      left: 12rem;
      top: 10rem;
      transform: translateX(-50%) rotate(-180deg);
      visibility: visible;
    }
  
  .tooltip-first .info{
      visibility:visible;
      width: 200px;
      top: 80px;
      position:absolute;
      background-color:antiquewhite;
      display:flex;
      margin-left:12rem;
      border-radius:2px;
      padding:5px;
  }

  .tooltip{
    width:250px;
    height: 200px;
    position: absolute;
    top: 288px;
    left: 327px;
    background-color:antiquewhite;
    margin-left:0rem;
    border-radius:2px;
    padding:5px;
    visibility: visible;
  }

  .tooltip-first .tooltip::before{   
    content: "";
    width: 0%;
    height: 0%;
    border-top: 25px solid antiquewhite;
    border-right: 175px solid transparent;
    position: absolute;
    left: -71px;
    top: -2.5rem;
    z-index: 0;
    transform: translateX(-50%) rotate(-152deg);
    background-color:rgb(219, 216, 216);
    padding: 1.5rem;
  }
  .councellor-description{
    display:flexbox;
    padding:20px 20px 0px 20px;
    background-color: #d8d0d0;
    text-align: center;
    margin: 0;
  }
  hr{
    border:2px solid white;
  }

  .councellor-description button{
    display: block;
    width:100%;
    padding-block: 15px;
    font-size: 15px;  
    font-weight:bold;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 7px 10px rgb(149, 146, 146);
    border: rgb(80, 75, 75);
    color: white;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
  }
  button:hover{
    color: #edecec;
    transform: translateX(2px);

  }
  
  .councellor-description button:nth-child(1){
    background-color: rgb(82, 171, 50); 
  }
  .councellor-description button:nth-child(2){
    background-color: rgb(255, 106, 20);
  }
  .councellor-description p{
    font-size:15px;
    padding-top: 20px;
    color: rgb(57, 53, 53);
  }
  .councellor-description .rating ul{
    padding: 0px 10px 0px 10px;
  }
  .councellor-description .rating ul li{
      list-style-type: none;
      display: inline;
      padding-inline: 2px;
      
  
  }
  .star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    position: relative;
    margin-bottom: 40px;
    color: #fff;
    
}
.star:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2605";
   position: absolute;
   color: #e48d12;  
}
.star:hover{
  color: #e48d12;

}
.councellor-description textarea{
  margin-top: 10px 10px;
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  
}

    /* section second */
  
    /* scorepage started */
    .scorepage-first{
      border:solid 1px;
  
    }
    .scorefirst{
      background-color:rgb(255, 246, 235);
      padding:0px 0px 0px 150px;
      display:flex;
      padding-block:20px;
    }
    .scorefirst li:nth-child(1){
      color: rgb(113, 106, 106);
    }
    .scorefirst .maximum{
      color: rgb(154, 142, 142);
      font-size: 20px;
      
    }

    /* GET COACHING CSS  */ 
    .more-coaching{
        display: flex;
        position:sticky;
        margin-left: 90%;
        margin-top: -15rem;
        justify-content: center;
        position: static;
    }
   
    .more-coaching p{
      border:#e48d12;
      background:#e48d12;
      width: 100px;
      display: flex;
      height: 100px;
      border-radius: 100%;
      box-shadow:5px 10px px rgb(159, 148, 148);
      text-align: center;
      color: #fff;
     align-items: center;
     font-weight: bold;
    
    }

  /* MAIN PAGE HTML ENDED */
    /* tooltip second css started */
    .score120{
      font-size: 50px;
      font-weight:bold;
      color: rgb(54, 54, 196);
    }
    .scorefirst li{
      list-style-type:none;
      font-weight: bold;
    }
    .proficiency{
      padding-left: 35rem;
    }
    .scorefirst .level6{
      font-size: 20px;
      color: rgb(102, 202, 82);
    }
    .scorefirst .mastered{
      font-size: 30px;
      color: rgb(102, 204, 82);
    }
    .scorefirst .level-scale{
      color: rgb(154, 142, 142);
    }
    .section-fix{
        overflow-y:scroll;
        height: 70vh;
        align-content: center;
    }
    .coaching-info{
        display:flex;
        align-items: center;
        flex-direction:column;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .coaching-info button{
        border-radius: 8px;
        font-size: 15px;
        color: white;
        font-weight:bold;
        border: rgb(80, 75, 75);
        box-shadow: 3px 5px 5px rgb(149, 146, 146);
    }
   .coaching-info :nth-child(1){
    background-color: rgb(255, 106, 20);
    padding:15px 100px 15px 100px;
    margin-top:100px;
    width:25% ;
   }
   .coaching-info :nth-child(2){
    background-color: rgb(135, 130, 126);
    padding:15px 50px 15px 50px;
    margin-top:30px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight:bold;
    border:rgb(80, 75, 75);
    box-shadow: 3px 3px 3px rgb(149, 146, 146);
    width: 18%;
   }
  .coaching-exp {
    padding: 20px 20px
    10px 50px;
    margin-top: 100px;
  }
  .coaching-exp h2{
  color: rgb(114, 109, 109);
  padding-bottom: 20px;
  }

  .coaching-exp h3{
    color: rgb(133, 126, 126);
    padding-bottom: 30px;
    }
  /* radio started  */
  .custom-radio label{
    font-size:17px;
    padding:12px 20px 10px 60px;
    margin: 10px;
    position:relative;
    color: rgb(37, 36, 34);
  }
  .custom-radio h3{
     color: rgb(43, 42, 41);
  }
  .custom-radio label::after{
    content:"";
    position:absolute;
    left:10px;
    top: 8px;
    width:20px;
    height:21px;
    border:3px solid #c8c9ca;
    border-radius:100%;
  
  }
  .custom-radio label::before{
    content:"";
    position:absolute;
    left: 15px;
    top: 13px;
    width:15px;
    height:15px;
    background-color:#e48d12;
    border-radius:100%;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
  }
  .custom-radio input{
    display: none;
    
  }
  .custom-radio input:checked + label::before{
    transform:scale(1);
  }
  
  /* radio ended */
  .coaching-exp button{
    background-color: rgb(255, 106, 20);
    padding:15px 20px 15px 20px;
    margin-top:100px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight:bold;
    border: rgb(80, 75, 75);
    box-shadow: 3px 3px 3px rgb(149, 146, 146);
  }
  /* page 3 css started */
  .page-climb{
    display: flex;
    margin-left: 15rem;
    margin-top: 5rem;
  }

  .page-climb tool{
    width:10px;
    border: 100px;
  }
  .page-climb .tooltip{
    visibility:visible;
    width:250px;
    height: 200px; ;
    position: relative;
    background-color:antiquewhite;
    margin-left:0rem;
    border-radius:2px;
    padding:5px;
  }
  

  .page-climb p{
    margin-top: 17rem;
    color: #48c22a;
    font-size: 30px;
    font-weight: bold;
    margin-left: -150px;
   
  }
  .climb-main{
    display: flex;
    position: relative;
    margin-left: 2rem;
  }
  .climb{
    position: absolute;

  }
.climb-position ul{
  margin-top: 18px;
  margin-left: 11rem;
  font-size: 18px;
  font-weight: bold;
  color: #6f7679;
 
}
  .climb-position ul li{
    list-style-type:none;
    border-top: 1px dashed;
    text-align: right;
    padding-left:10rem;
  }
  .climb-position ul .peak{
  color: #6f7679;
  }
  .climb-position ul .explored-beyond{
    color: #141616;
    padding-bottom: 20px;
    }
  .climb-position ul .got-spot{
      padding-bottom: 80px;
  }
  .climb-position ul .far{
    padding-bottom: 80px;
  }
  .climb-position img{
    position:absolute;
    visibility: hidden;
  }
  .climb-position  ul .peak:hover img{
    visibility: visible;
    transform: translate(-220px,-10px);
    }
    .climb-position  ul .explored-beyond:hover img{
      visibility: visible;
       transform: translate(-300px,10px);
   }
    .climb-position  ul .got-spot:hover img{
      visibility: visible;
       transform: translate(-390px,70px);
   }
   .climb-position  ul .far:hover img{
    visibility: visible;
     transform: translate(-440px,70px);
 }
 .climb-position  ul .short:hover img{
  visibility: visible;
   transform: translate(-485px,-30px);
}
    /* page climb end */
.video{
  padding-top: 100px;
  padding-right: 200px;
  margin-top: 5rem;
  margin-left: 200px;
  margin-left: 150px;
  padding-left: 12px;
}


.video ul li{
  font-size:30px; 
  list-style-type: none;
  text-align: right;
  font-weight: bold;

}
.video li:nth-child(1){
  color: #6f7679;
}

.page-five{
margin-top: 250px;
}
.pagefive-img{
  position: relative;
}

.pagefive-text{
  background-color: rgb(235, 235, 188);
  padding: 100px;
  margin-top: 100px;
}

.pagefive-text textarea{
  max-width:60rem;
  padding:10px;
  resize: none;

}

.page-five .info{
  position: absolute ;
 left: 1px;
 width: 350px;
 margin:2.5rem;
 font-size: 20px;
 padding: 20px;
 border-radius: 3px;
 background-color: antiquewhite;
 word-spacing: 5px;
}

  /* footer */
  footer{
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  /* footer */