*{
    padding: 0%;
    margin:0%;
}
.menu{
    width: 100%;
    min-height:50rem;
    background:rgb(143,177,187);
      background-image: url(/Ramkisan/Ram_Task/img/main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
}
.menu2 {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    background-color:#d8ecf2;
    
}
  
  
  .menu2 ul {
    list-style: none;
    margin: 0;
    padding-bottom:5px;
    background-color:rgb(202, 221, 226);
    
  }
  
  .menu2 li {
display: inline-block;  
 padding-left: 5%; 

  }
  
  .menu2 a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  .menu2 img{
    width:5%;
    height:50%;
    margin-left:10%;
    
  }
.img{
    width: 100%;
    height:auto;
   
  }
.img  img {
    width: 100%;
    position: relative;
}
  
  .menu2 a:hover {
    background-color: #555;
}
/*  */
  
.hover_E{
    position: absolute;
    width:100%;
    height:50rem;
    top: 4rem;
    background:#5380c1;
    background-image: url(/Ramkisan/Ram_Task/img/main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.hover_E h1{
text-align:  center;
font-size: 60px;
font-weight: 600;
padding-top: 20rem;
color:whitesmoke; 
}
.hover_E p{
    text-align:  center;

    font-size: 25px;
    color:whitesmoke;
 }
    .hover_E button{
       margin-left: 40%;
       margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
        padding:20px 50px;
        color:white;
   background-color: orange;
       border-radius: 10px;
       border-style: none;   
 }
 
 .hover_E:hover{
    opacity: 1%;
    z-index:1%;
    background-color:#9cb8e9;
    
 }
 /*  */