*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* registration form */
.custom_forms{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 50rem;
    height: 25rem;
    background-color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
}
form input{
    width: 100%;
    margin-bottom: 1rem;
}
form input[type="button"]{
    width: 6rem;
    height: 3rem;
    font-size: 1.3rem;
}
/*** login form ***/
.login_form{
    display: none;
}
.login_form form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* homepage */
.home_page{
    display: none;
}