h2 {
  color: orange;
}
/* [dot][class-name] */
.article-block {
  border: 1px solid #444;
  margin-bottom: 20px;
  position: relative;
}

.article-title,
._article-title,
.article-title {
  color: blueviolet;
  margin: 0;
  padding: 10px 15px;
  position: relative;
}
/** padding and margin 

#Order => top, right, bottom, left

1. padding: 15px  => top: 15px, right: 15px, bottom: 15px, left: 15px
2. padding: 10px 15px 10px 15px  => top: 10px, right: 15px, bottom: 10px, left: 15px
3. padding: 10px 15px => top: 10px, right: 15px, bottom: 10px, left: 15px
4. padding: 10px 15px 15px => top: 10px, right: 15px, bottom: 15px, left: 15px

margin
border,
border-radius


 **/

/* [#][id-name] */
/** CSS ID slector **/
/* #headingId {
  color: blueviolet;
}
#headingId2 {
  color: red;
} */
/* CSS Pseudo Selector */

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 2px;
  width: 100px;
  background-color: #444;
  z-index: 9;
}
.article-title::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 44px;
  height: 8px;
  width: 50px;
  background-color: red;
  z-index: 10;
}

.article-description {
  padding: 10px 15px;
}
.article-description p::first-line {
  color: red;
}
.article-description p::first-letter {
  color: blue;
  font-size: 3rem;
}

.article-block::after {
  content: attr(data-badge); /* content: "" => "New" */
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
}

/* Banner section CSS */

/* Contact section css */

/* About Page css */
