




*{ 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* prathamesh section */


*{
    margin: 0;
    padding: 0;
}
header{
    width: 94.9rem;
    background-color: #fff9f3;
}
nav{
    
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 15rem;
}
ul{
    padding-left: 10rem;
    align-items: center;
    display: flex;
}
li{

    display: inline;
    padding: 2rem 1rem;
}
li a{
    text-align: center;
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
li a:hover{
    color: #fec077;
    text-decoration: underline;
}
li button{
    color: #fec077;
    background-color: white;
    font-weight: bold;
    width: 6rem;
    height: 2rem;
    border-radius: 5rem;
    border: none;
}
li button:hover{
    width: 7rem;
    height: 3rem;

}

.main{
    position: relative;
    text-align: center;
    width: 94.9rem;
    background-color: #fff9f3;
}
.info{
    width: 56.9rem;
    height: 30rem;
}
.img{
    margin-top: -.25rem;
    width: 94.9rem;
    background-repeat: no-repeat;
}
.plant_l{

    position: absolute;
    left: 5rem;
    top: 27rem;
    height: 22rem;
    width: 28rem;
}
.plant_r{

    position: absolute;
    left: 40rem;
    top: 10rem;
    height: 29rem;
    width: 36rem;
}
.education{
    position: absolute;
    left: 16rem;
    top: 12rem;

}
.education h1{
    color: #fec077;
}
.education p{
    padding-top: .5rem;
    padding-bottom: 1rem;
    color: gray;
}
.education button{
    color: white;
    background-color: #fec077;
    height: 3rem;
    width: 10rem;
    border-radius: 5rem;
    border: none;
}
/* Prathamesh section end */


/*   around  the university */
.around{
    background-image: url(../img/around_BG.png);
    background-repeat: no-repeat;
    background-position: -460%;
 
}
.around{
width: 100%;
height:600px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.around1{
    width:20%;
    height:260px;

    margin-left:9%;
    margin-top:3%; 
}
.a1{
    width:100%;
    height:150px;
    background-image:url(../img/around1.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around2{
    width:20%;
    height:260px;

    margin-top:3%;   
}
.a2{
    width:100%;
    height:150px;
    background-image:url(../img/around2.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around3{
    width: 20%;
    height:260px;

    margin-top:3%;
   
}
.a3{
    width:100%;
    height:150px;
    background-image:url(../img/around3.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around4{
    width:20%;
    height:260px;
    margin-right:9%;
    margin-top:3%;
}
.a4{
    width:100%;
    height:150px;
    background-image:url(../img/around4.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around5{
    width:20%;
    height:260px;
  
    margin-left:9%;
}
.a5{
    width:100%;
    height:150px;
    background-image:url(../img/around4.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around6{
    width: 20%;
    height:260px;   
}
.a6{
    width:100%;
    height:150px;
    background-image:url(../img/around6.png); 
  background-repeat: no-repeat; 
 background-position: center;
background-size: 100%;
}
.around7{
    width:20%;
    height:260px;
   
  
}
.a7{
    width:100%;
    height:150px;
    background-image:url(../img/around7.png); 
  background-repeat: no-repeat; 
 background-position: center;
 background-size:100%;

}
.around8{
    width: 20%;
    height:260px;   
   
    margin-right:9%;
}
.a8{
    width:100%;
    height:150px;
    background-image:url(../img/around8.png); 
  background-repeat: no-repeat; 
 background-position: center;
 background-size: 100%;
}
/*  */
.h1 h4{
  margin-left: 10%;
    text-align: center;
    font-size: 30px;
}
/* media qurey */
@media only screen and ( mi-width:200px) and (max-width:767px) {
    .around{
        width: 100%; 
        padding: 100%;
        background-image: 100%;
        font-size: 16px;
        padding: 0%;

    }
}
/*  text format  */
.around1 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #ffc178;
font-weight: 500;
text-decoration: underline;
font-family: "Work Sans";
}
.around1 h5{
 padding-left: 10px; 
}
.around1 p{
  padding-left: 10px; 
text-justify:bottom;
}
.around2 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #5a6e79;;
font-weight: 500;
text-decoration: underline;
font-family: "Work Sans";
}
.around2 h5{
 padding-left: 10px; 
}
.around2 p{
  padding-left: 10px; 
text-justify:bottom;
}
.around3 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #5a6e79;;
font-weight: 500;
text-decoration: underline;
font-family: "Work Sans";
}
.around3 h5{
 padding-left: 10px; 
}
.around3 p{
  padding-left: 10px; 
text-justify:bottom;
}
.around4 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #5a6e79;;
font-weight: 500;
text-decoration: underline;
font-family: "Work Sans";
}
.around4 h5{
 padding-left: 10px; 
}
.around4 p{
  padding-left: 10px; 
text-justify:bottom;
}
.around5 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #5a6e79;;
font-weight: 500;
text-decoration:underline;
font-family: "Work Sans";
}
.around5 h5{
 padding-left: 10px; 
}
.around5 p{
  padding-left: 10px; 
text-justify: bottom;
}
.around6 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #5a6e79;;
font-weight: 500;
text-decoration:underline;
font-family: "Work Sans";
}
.around6 h5{
 padding-left: 10px; 
}
.around6 p{
  padding-left: 10px; 
text-justify: bottom;
}
.around6 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #252c3a;
font-weight: 500;
text-decoration: underline;
font-family: "Work Sans";
}
.around6 h5{
 padding-left: 10px; 
}
.around6 p{
  padding-left: 10px; 
text-justify: bottom;
}.around7 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #252c3a;
font-weight: 500;
text-decoration: underline;
font-family: "Work Sans";
}
.around7 h5{
 padding-left: 10px; 
}
.around7 p{
  padding-left: 10px; 
text-justify: bottom;
}
.around8 h4{
  font-size: 16px;
line-height: 20px;
padding-left: 5px;
color: #252c3a;
font-weight: 500;
text-decoration: underline;
font-family: "Work Sans";
}
.around8 h5{
 padding-left: 10px; 
}
.around8 p{
  padding-left: 10px; 
text-justify: bottom;
}
/*----------------- footer-------------------- */
.footer{
  border: solid black;
  width:100%;
  min-height: 300px;
  background-color:  #252c3a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 

}

.footer1{
  width: 20%; 
  min-height:3000%;

   margin-left: 5%;
   margin-top: 1%;
   margin-bottom: 1%;
   background-image: url(../img/around9.png);
   background-repeat: no-repeat;
   background-size: 50px;

} 
.footer2{
  width: 20%; 
  min-height: 300%;
 
  margin-bottom: 1%;
  margin-top: 1%;
} 
.footer3 {
  width: 20%; 
  min-height: 300%;

  margin-bottom: 1%;
  margin-top: 1%;
}.footer4{
  width: 20%; 
  min-height:300%;
  margin-right: 5%;
  margin-bottom: 1%;
  margin-top: 1%;

}
 /*text formatig   */
 .footer1 h3{
color:  #969595;
margin-left: 50px;
font-size: 30px;
 }
 .footer1 p{  
margin-top: 30px;
margin-left: 10px;
color:  #969595;
 }
 .footer1 i{  
 margin-top: 20px;
 margin-left: 10px;
   }
   .footer1 h4{
    color: #969595;
    margin-left: 50px;
   font-size:10px ;
   }
   .footer2 h3{
    padding-left: 10px;
    color:  #969595;;
   }
.footer2 ul{
  margin-top: 50px;
 line-height: 30px;
 padding-left: 10px;
 list-style: none;
color:  #969595;;
}
.footer3 h3{
  padding-left: 20px;
  color:  #969595;;
 }
.footer3 ul{
  margin-top: 50px;
line-height: 40px;
padding-left: 10px;
list-style: none;
color:  #969595;;
}

.footer4 h3{
  padding-left: 20px;
  color:  #969595;;
 }
 .footer4 p{
 
margin-top:50px;
  padding-left: 10px;
  list-style: none;
  color:  #969595;;
  }
.footer4 input{
  padding:10px;
border: none;
 margin-left: 5px;
}
.footer4 button{
  padding:9px;
  background-color: #ffc178;
  
}
.span{
  width: 100%;
  min-height: 50px;
  background-color: #1d232e;


display: flex;
}
.span ul{
  display: flex;
list-style: none;
margin-left: 40%;
color: #6b6b6b;
font-size: 13px;
}
.span ul li{
justify-content:space-between;
padding: 10px;
margin-top: 5px;
} 
.span h3{
  margin-left: 10px;
  margin-top: 13px;
  color: #6b6b6b;
  font-size: 13px;
}

