*{ 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/*   around  the university */
.around{
    background-image: url(../img/around_BG.png);
    background-repeat: no-repeat;
    background-position: +460%;
 
}
.around{
width: 100%;
height:600px;
    border: 5px solid rgb(122, 213, 30);
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.around1{
    width:20%;
    height:250px;
    border: 1px solid rgb(8, 8, 8);
    margin-left:9%;
    margin-top:3%; 
}
.a1{
    width:100%;
    height:150px;
    background-image:url(../img/around1.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around2{
    width:20%;
    height:250px;
    border: 1px solid rgb(30, 189, 213);
    margin-top:3%;   
}
.a2{
    width:100%;
    height:150px;
    background-image:url(../img/around2.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around3{
    width: 20%;
    height:250px;
    border: 1px solid rgb(213, 82, 30);
    margin-top:3%;
   
}
.a3{
    width:100%;
    height:150px;
    background-image:url(../img/around3.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around4{
    width:20%;
    height:250px;
    border: 1px solid rgb(30, 67, 213);
    margin-right:9%;
    margin-top:3%;
}
.a4{
    width:100%;
    height:150px;
    background-image:url(../img/around4.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around5{
    width:20%;
    height:250px;
    border: 1px solid black;
    margin-left:9%;
}
.a5{
    width:100%;
    height:150px;
    background-image:url(../img/around4.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around6{
    width: 20%;
    height:250px;
    border: 1px solid rgb(213, 30, 82);
   
}
.a6{
    width:100%;
    height:150px;
    background-image:url(../img/around6.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around7{
    width:20%;
    height:250px;
    border: 1px solid rgb(30, 213, 170);
  
}
.a7{
    width:100%;
    height:150px;
    background-image:url(../img/around7.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
.around8{
    width: 20%;
    height:250px;   
    border: 1px solid rgb(213, 118, 30);
    margin-right:9%;
}
.a8{
    width:100%;
    height:150px;
    background-image:url(../img/around8.png); 
  background-repeat: no-repeat; 
 background-position: center;
  background-color: aqua;
}
/*  */
.h1 h4{
  margin-left: 10%;
    font-size: 30px;
}
/* media qurey */
@media only screen and ( mi-width:200px) and (max-width:767px) {
    .around{
        width: 100%; 
flex-direction: column;
    }
}







