* {
  box-sizing: border-box;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid red;
}

.about-page td {
  border: 2px solid blue;
}

h1 {
  text-align: center;
}

.banner {
  background-image: url("./bg_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
}

header {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navList {
  padding: 0;
  margin: 0;
  width: 60%;
  list-style-type: none;
  border: 2px solid black;
}

.navList li {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.navList li:hover {
  color: #ff0000;
}

.navList li::before {
  content: attr(data-link);
  position: absolute;
  bottom: 100%;
  left: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: #ff0000;
  opacity: 0;
}
.navList li:hover::before {
  opacity: 1;
}
/* .navList:hover li::before {
  opacity: 1;
} */

.banner-text {
  padding-top: 100px;
  padding-left: 20px;
}

.banner-text h2 {
  color: #444;
}
h2 {
  color: orange;
}
/* [dot][class-name] */
.article-block {
  border: 1px solid #444;
  margin-bottom: 20px;
  position: relative;
}

.article-title,
._article-title,
.article-title {
  color: blueviolet;
  margin: 0;
  padding: 10px 15px;
  position: relative;
}
/** padding and margin 

#Order => top, right, bottom, left

1. padding: 15px  => top: 15px, right: 15px, bottom: 15px, left: 15px
2. padding: 10px 15px 10px 15px  => top: 10px, right: 15px, bottom: 10px, left: 15px
3. padding: 10px 15px => top: 10px, right: 15px, bottom: 10px, left: 15px
4. padding: 10px 15px 15px => top: 10px, right: 15px, bottom: 15px, left: 15px

margin
border,
border-radius


 **/

/* [#][id-name] */
/** CSS ID slector **/
/* #headingId {
  color: blueviolet;
}
#headingId2 {
  color: red;
} */
/* CSS Pseudo Selector */

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 2px;
  width: 100px;
  background-color: #444;
  z-index: 9;
}
.article-title::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 44px;
  height: 8px;
  width: 50px;
  background-color: red;
  z-index: 10;
}

.article-description {
  padding: 10px 15px;
}
.article-description p::first-line {
  color: red;
}
.article-description p::first-letter {
  color: blue;
  font-size: 3rem;
}

.article-block::after {
  content: attr(data-badge); /* content: "" => "New" */
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
}
::marker {
  color: red;
}

/** Tooltip css **/
.tooltip-wrap {
  margin: 2px 0 30px;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tooltip-wrap li {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #444;
  position: relative;
}
.tooltip {
  position: absolute;
  bottom: calc(100% + 15px);
  left: 50%;
  background: #282828;
  color: #fff;
  padding: 10px 5px;
  text-align: center;
  font-size: 11px;
  width: 120px;
  transform: translateX(-50%);
  z-index: 99;
  display: none;
}
.tooltip p {
  margin: 0;
}
.tooltip::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #282828;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%) rotate(45deg);
}
.tooltip-wrap li:hover .tooltip {
  display: block;
}
.link-test {
  margin-bottom: 30px;
  display: inline-block;
}
.link-test:link {
  color: #282828;
}
.link-test:visited {
  color: orange;
}
.link-test:hover {
  color: #ff0000;
}
.link-test:active {
  color: green;
}

.first-case-test,
.nth-child-test {
  padding-bottom: 20px;
}
.first-case-test > p:first-child,
.first-case-test > p:last-child {
  color: red;
}
.nth-child-test {
  list-style-type: decimal;
}
.nth-child-test li:nth-child(3n + 1) {
  background-color: yellow;
}
/* Banner section CSS */

/* Contact section css */

/* About Page css */
