body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}




@media only screen and (max-width: 768px) {
  /* Styles for devices with screen width up to 768px */
  body {
    font-size: 16px;
  }
}

/********************************************************************* navbar*******************************************************************/
.main-logo {
  width: 21.875rem;
  background-color: grey;
  position: absolute;
  left: 3.125rem;
  margin-top: 0.938rem;

}

.navbar {
  background-color: #ededed;
  width: 95rem;
  height: 6.25rem;
  margin: 0;
}

.nav-text {
  display: inline-block;
  position: absolute;
  right: 5rem;
  font-size: 0.938rem;
  margin-top: 2.188rem;

}


/********************************************************************* section1*******************************************************************/
.bold {
  color: #192b65;
}

.bg-color {
  color: #fff;
}

.btn {
  padding-right: 0.375rem;
  border-radius: 0.313rem;
  background-image: linear-gradient(#fff, #537FE7);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
}

.btn-img {
  height: 2.188rem;
}

.bg-image-1 {
  width: 95rem;
}

.dwl-txt {
  position: relative;
  bottom: 0.75rem;
}

.heading {
  font-size: 1.75rem;
  position: absolute;
  top: 3.175rem;
  margin: 7.5rem 0 12.5rem 11.875rem;
}

.text-space {
  margin: 0;
} 

/****************************************************************** table form **********************************************************************/
.form {
  background-color: #0ba7c1;
  position: absolute;
  left: 14.375rem;
  top: 28.125rem;
  padding: 0.313rem 1.875rem 0.625rem;
  margin: 2.5rem 0 0 5rem;
  text-align: center;
}

.form-title {
  color: #fff;
  margin: 0.75rem 0 0.313rem;
}

.form-box {
  width: 50rem;
  height: 3.75rem;
  margin-bottom: 1.875rem;
  margin-left: 0.313rem;
}

.box-space {
  border-radius: 0.188rem;
  height: 2.188rem;
  width: 15.625rem;
}

.box-space-2 {
  margin: 0.313rem 0;
}

.term-condi-text {
  color: #fff;
  margin-top: 0.313rem;
}

.req-info-btn {
  background-color: #192b65;
  color: #fff;
  border-radius: 0.125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.813rem;
  padding: 0.375rem 1.563rem;
}

/******************************************************************* section2 *****************************************************************/
.about-paragraph {
  margin: 6.25rem 15.625rem 6.25rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.about {
  font-size: 1.563rem;
  font-weight: bolder;
}

/******************************************************************* section3 *********************************************************************/
.sec-3-background {
  background-color: #0ba7c1;
  height: 25rem;
  width: 95rem;
}

.sec-3-heading {
  background-color: #fff;
  font-weight: bolder;
  position: relative;
  top: 0.938rem;
  text-align: center;
  margin: 0 34.375rem;
  padding: 0.063rem;
}

.bg-yellow {
  background-color: #EBB02D;
  padding: 0.438rem 0.625rem;
}

.pro-pedagogy {
  color : black;
  padding-left: 1rem;
}
.info {
  height: 0;
}

.info-1 {
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 19.375rem;
  left: 13.75rem;
  padding: 1.563rem;
  color: #fff;
}

.info-margin {
  margin-top: 0;
}

.logo-img {
  width: 3.75rem;
}

.vertical-line-1 {
  border-left: 0.063rem solid grey;
  height: 15.625rem;
  position: absolute;
  left: 31.875rem;
  margin-left: -0.188rem;
  top: 65.625rem;
}

.vertical-line-2 {
  border-left: 0.063rem solid grey;
  height: 15.625rem;
  position: absolute;
  left: 48.75rem;
  margin-left: -0.188rem;
  top: 65.625rem;
}

.vertical-line-3 {
  border-left: 0.063rem solid grey;
  height: 15.625rem;
  position: absolute;
  left: 66.25rem;
  margin-left: -0.188rem;
  top: 65.625rem;
}

/******************************************************************* section4 ********************************************************************/
.sec-4-bg {
  height: 19.375rem;
  width: 95rem;
}

.ul1 {
  color: #fff;
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
  line-height: 1.563rem;
  font-weight: normal;
}

.li1:before {
  content: "";
  border-color: transparent #fff;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.list-info {
  display: inline-block;
  position: relative;
  left: 39.688rem;
  bottom: 19.375rem;
  margin-right: 37.5rem;
  font-weight : bold;
}

.li-heading {
  color: #fff;
  font-weight: bold;
  font-size: 1.875rem;
}

.eligibility {
  border-radius: 0.6rem;
  color: #005c8b;
  background-color: #c3ebfd;
  position: absolute;
  top: 87.2rem;
  left: 29.375rem;
  margin: 0 37.375rem 0 37.5rem;
  padding: 1.25rem 0 1.25rem 0.625rem;
  text-align: left;
  width: 15.625rem;
}

.eligibility-h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.program-fee {
  border-radius: 0.6rem;
  color: #005c8b;
  background-color: #c3ebfd;
  position: absolute;
  top: 95.1rem;
  left: 29.375rem;
  margin: 0 37.375rem 0 37.5rem;
  padding: 1.25rem 0 1.25rem 0.625rem;
  text-align: left;
  width: 15.625rem;
}

.program-fee-h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.INR-money {
  font-size:1.563rem;
}
/******************************************************************* section5 ******************************************************************/

.li2:before {
  border-color: transparent #192b65;
}

.sec-5-text {
  color: #192b65;
}

.sec-5-list {
  display: inline-block;
  position: absolute;
  top: 104.8rem;
  left: 9.375rem;
}

.sec-5-img {
  width: 30rem;
  position: relative;
  bottom: 20.938rem;
  left: 53.75rem;
}

/******************************************************************* section6 *********************************************************************/
.sec-6-bg {
  background-color: #2d437f;
  height: 37.5rem;
  width: 95rem;
  position:absolute;
  top: 131rem;
  text-align: center;
  color: #fff;

}


.ceo-info {
  background-color: #fff;
  height: 28rem;
  width: 15.625rem;
  display: inline-block;
  margin: 0.625rem;
  border-radius: 0.25rem;

}

.ceo-img {
  width: 10.625rem;
}

.ceo-info-text-clr {
  color :#192b65;
}

.link-in-1 {
  width: 2.5rem;
  border-radius: 100%;
  position: absolute;
  bottom: 22.063rem;
  left: 23.688rem;
}

.link-in-2 {
  width: 2.5rem;
  border-radius: 100%;
  position: absolute;
  bottom: 22.063rem;
  left: 41.25rem;
}

.link-in-3 {
  width: 2.5rem;
  border-radius: 100%;
  position: absolute;
  bottom: 22.063rem;
  right: 34.063rem;
}

.link-in-4 {
  width: 2.5rem;
  border-radius: 100%;
  position: absolute;
  bottom: 22.063rem;
  right: 17.188rem;
}

/********************************************************************** footer *****************************************************************/

.footer {
  background-color: #17205b;
  height: 6.25rem;
  width: 95rem;
  position: absolute;
  top: 167.5rem;


}

.footer-text {
  color: #fff;
  margin: 0;
  padding-top: 1.25rem;
  text-align: center;
}
