*{
    margin: 0;
    padding: 0;
}
.modal-header, h4, .close {
    background-color: #62e6f8;
    color:white;
    text-align: center;
    font-size: 30px;
  }
  .modal-body{
    padding:40px 50px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }