.bg-paleblue {
    background-color: #e2eef7;
  }
  
  .container-width {
    width: 27rem;
    height: 46rem;
  }
  .list{
    height:41rem;
    overflow: scroll;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }
  
  
  .img-size {
    width: 40px;
    height: 40px;
  }
  
  .timefont-size {
    font-size: smaller;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .section:hover {
    background-color: rgba(165, 165, 165, 0.259);
    border: 5px solid red;
    border-top: none;
    border-right: none;
    border-bottom: none;
  
  }


  /* popup container */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 160px;
  padding-left: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}


.modal-content {
  max-width: 500px;
  max-height: 500px;
}

.modal-content img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
