body {
  padding: 0;
  margin: 0;
} 


.bg-paleblue {
  background-color: #e2eef7;
}

.container-width {
  width: 27rem;
  height: 42rem;
  overflow: auto;
}


.img-size {
  width: 40px;
  height: 40px;
}

.timefont-size {
  font-size: smaller;
}

.pointer {
  cursor: pointer;
}

.section:hover {
  background-color: rgba(165, 165, 165, 0.259);
  border: 5px solid red;
  border-top: none;
  border-right: none;
  border-bottom: none;

}

.w-chat {
  width: 960px;
}